@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@utility container {
  margin: auto;
  /* padding-inline: 2rem; */
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-brand: #ededed;
  --color-primary: #253d4e;
  --color-secondary: #7e7e7e;
}
